<div >
  <%- include('header') %>
  <%- include('alert') %>

  <!-- Breadcrumbs -->
  <nav class="breadcrumbs text-sm text-gray-600 py-4 px-6 ">
    <ul class="flex items-center space-x-2">
      <li>
        <a href="/" class="text-blue-500 hover:text-blue-700">Home</a>
      </li>
      <span class="text-gray-400">/</span>
      <li>
        <a href="/allproduct" class="text-blue-500 hover:text-blue-700">All Products</a>
      </li>
    </ul>
  </nav>

  <%- include('filter') %>
  <!-- Product Section -->
  <section class="bg-white py-10 px-10 sm:px-12 lg:px-16">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
      <% product.forEach((product) => { %>
        <div class="bg-white shadow-lg rounded-lg overflow-hidden hover:shadow-xl transition-shadow duration-300">
          <!-- Product Image -->
          <a href="/productDetail/<%- product.id %>">
            <img
              src="<%= product.productImage[0] %>"
              alt="<%= product.productName %>"
              class="w-full h-48 object-contain "
            />
          </a>

          <!-- Product Details -->
          <div class="p-6">
            <!-- Product Name -->
            <h3 class="text-lg font-semibold text-center text-gray-900 mb-2">
              <%= product.productName %>
            </h3>

            <!-- Product Description -->
            <p class="text-gray-600 text-sm text-center mb-4">
              <%= product.productDescription %>
            </p>

            <!-- Product Price and Actions -->
            <div class="flex justify-between items-center">
              <!-- Price -->
              <span class="text-lg font-bold text-gray-900">
                ₹<%= product.productPrice %>
              </span>

              <!-- Actions -->
              <div class="flex items-center space-x-4">
                <!-- Cart Icon -->
                <a
                  onclick="addToCart('<%= product.id %>', '<%= product.productPrice %>','<%= user %>')"
                >
                  <img
                    src="https://cdn-icons-png.flaticon.com/512/34/34568.png"
                    alt="Cart Icon"
                    class="h-6 w-6 cursor-pointer hover:scale-110 transition-transform"
                  />
                </a>

                <!-- Heart Icon -->
                <a class="text-gray-500 hover:text-red-500">
                  <img
                    src="/styles/images/free-heart-icon-3510-thumb.png"
                    alt="Heart Icon"
                    class="h-6 w-6 cursor-pointer hover:scale-110 transition-transform"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
      <% }) %>
    </div>
  </section>

  <%- include('footer') %>
</div>

