
  <section class="bg-white py-10 px-10 sm:px-12 lg:px-16">
    <h2 class="kurale-regular text-2xl text-center mb-6">Similar Products</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
      <% for (let i = 0; i < similarProduct.length && i < 4; i++) { %>
        <div class="bg-white shadow-lg rounded-lg overflow-hidden hover:shadow-xl transition-shadow duration-300">
          <!-- Product Image -->
          <a href="/productDetail/<%= similarProduct[i].id %>">
            <img
              src="<%= similarProduct[i].productImage[0] %>"
              alt="<%= similarProduct[i].productName %>"
              class="w-full h-48 object-contain "
            />
          </a>

          <!-- Product Details -->
          <div class="p-6">
            <!-- Product Name -->
            <h3 class="text-lg font-semibold text-center text-gray-900 mb-2">
              <%= similarProduct[i].productName %>
            </h3>

            <!-- Product Description -->
            <p class="text-gray-600 text-sm text-center mb-4">
              <%= similarProduct[i].productDescription %>
            </p>

            <!-- Product Price and Actions -->
            <div class="flex justify-between items-center">
              <!-- Price -->
              <span class="text-lg font-bold text-gray-900">
                ₹<%= similarProduct[i].productPrice %>
              </span>

              <!-- Actions -->
              <div class="flex items-center space-x-4">
                <!-- Cart Icon -->
                <a
                  onclick="addToCart('<%= similarProduct[i].id %>', '<%= similarProduct[i].productPrice %>','<%= user %>')"
                >
                  <img
                    src="https://cdn-icons-png.flaticon.com/512/34/34568.png"
                    alt="Cart Icon"
                    class="h-6 w-6 cursor-pointer hover:scale-110 transition-transform"
                  />
                </a>

                <!-- Heart Icon -->
                <a class="text-gray-500 hover:text-red-500">
                  <img
                    src="/styles/images/free-heart-icon-3510-thumb.png"
                    alt="Heart Icon"
                    class="h-6 w-6 cursor-pointer hover:scale-110 transition-transform"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
      <% } %>
    </div>
  </section>